# Python cache files
__pycache__

# Virtual environment
.venv/

#google Key
key.json

# Ignore all .env files
*.env

run instructions.md



keyforgithub
keyforgithub.pub
temp_audio_files.ogg
temp_audio_files.mp3
